*.db
*.db-journal

__pycache__
*.pyc

lib/bot/token.0

lib/cogs/char_commands.py
lib/cogs/characters.py

lib/cogs/test_cog.py
lib/db/test.py

lib/db/register_lookup.py
lib/db/update.py

lib/characters/

*.old
other/